#fb-otpapp
functions/node_modules/

#clientapp
clientapp/.DS_Store

clientapp/build/
clientapp/*.pbxuser
clientapp/!default.pbxuser
clientapp/*.mode1v3
clientapp/!default.mode1v3
clientapp/*.mode2v3
clientapp/!default.mode2v3
clientapp/*.perspectivev3
clientapp/!default.perspectivev3
clientapp/xcuserdata
clientapp/*.xccheckout
clientapp/*.moved-aside
clientapp/DerivedData
clientapp/*.hmap
clientapp/*.ipa
clientapp/*.xcuserstate
clientapp/project.xcworkspace

clientapp/build/
clientapp/.idea
clientapp/.gradle
clientapp/local.properties
clientapp/*.iml

clientapp/node_modules/
clientapp/npm-debug.log
clientapp/yarn-error.log

clientapp/buck-out/
clientapp/\.buckd/
clientapp/*.keystore

clientapp/*/fastlane/report.xml
clientapp/*/fastlane/Preview.html
clientapp/*/fastlane/screenshots

clientapp/*.jsbundle